<section class="m-20">
  <div class="">
    <h2>ROR、redis縮短網址系統</h2> 
  </div>

  <div class="my-10">
    <%= link_to '新增短連結', new_link_path, class: "main-btn" %>
  </div>
  

  <div>
    <h3 class="mb-4 text-center">資料庫資料</h3>
  </div>
  <table class="w-full text-base text-left text-gray-500 dark:text-gray-400">
      <thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
          <th class="px-6 py-3">id</th>
          <th class="px-6 py-3">使用者輸入連結</th>
          <th class="px-6 py-3">slug</th>
          <th class="px-6 py-3">點擊次數</th>        
          <th class="px-6 py-3">短連結</th>        
          <th class="px-6 py-3">資料庫刪除</th>        
      </tr>
      </thead>
      <% @links.each do |link| %>
      <tbody>
      <tr>
          <td class="px-6 py-4"><%= link.id %></td>
          <td class="px-6 py-4"><%= link.url %></td>
          <td class="px-6 py-4"><%= link.slug %></td>
          <td class="px-6 py-4 text-red-500"><%= link.clicked %></td>        
          <td class="px-6 py-4"><%= link_to link.short, link.short, data:{ turbolinks: "false" }, class: "main-btn" %></td>     
          <td class="px-6 py-4"><%= link_to 'delete', link_path(link), data: {method: "delete"}, class: "second-btn" %></td>   
      </tr>
      </tbody>
      <% end %>  
  </table>



  <br>    
  <br>    

  <div>
    <h3 class="mb-4 text-center">redis資料</h3>
  </div>

  <table class="w-full text-base text-left text-gray-500 table-auto dark:text-gray-400">
      <thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
          <th class="px-6 py-3">redis的key</th>
          <th class="px-6 py-3">原本的連結</th>
          <th class="px-6 py-3">短連結</th>
          <th class="px-6 py-3">slug</th>
          <th class="px-6 py-3">點擊次數</th>                          
          <th class="px-6 py-3">redis刪除</th>        
      </tr>
      </thead>
      <% @keys.each do |k| %>    
      <tbody>
      <tr>
          <td class="px-6 py-4"><%= k %></td>
          <td class="px-6 py-4"><%= $redis.hgetall(k)["url"] %></td>
          <td class="px-6 py-4"><%= link_to $redis.hgetall(k)["short"], increase_visit_links_path(k) %></td>
          <td class="px-6 py-4"><%= $redis.hgetall(k)["slug"] %></td>        
          <td class="px-6 py-4"><%= link_to $redis.hgetall(k)["visit"], increase_visit_links_path(k), class: "text-red-500" %></td>     
          <td class="px-6 py-4"><%= link_to '刪除', expire_key_links_path(k), class: "second-btn" %></td>   
      </tr>
      </tbody>
      <% end %>  
  </table>

  <h4 class="my-5 text-center text-red-500">ps. redis key的命名規則是資料庫的"id-數字:slug"</h4>

  <div class="text-center">
    <button><%= link_to '把redis瀏覽次數，匯入資料庫', import_clicked_links_path, class: "second-btn" %></button>
  </div>

</section>

